@model AllCarsViewModel

@{
    ViewData["Title"] = "Index";

}


@if (!Model.CarsList.Any())
{
    <div style="margin-top:0%; margin-bottom: 2%;" class="page-header4">
        <div class="container">
            <h2 class="text-center text-light">Автомобили </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div style="margin-top: 3%; width:max-content; " class="page-caption1">
                        <h1 class="page-title">
                            <ul class="a">
                                <li style="animation-duration: 4s; color: #FFC312; font-weight: 1000;" class="a1">You don't have cars to repair...</li>
                            </ul>
                            @if (Model.SearchList == null)
                            {
                                <div class="container">
                                    <p>
                                        <a class="btn btn-warning font-weight-bold" asp-action="Create">Добави Автомобил...</a>
                                    </p>
                                </div>
                            }
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.CarsList.Any())
{
    <div class="page-header3" style="margin-top: 0%; margin-bottom: 0%;">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="container-fluid">

                        <h2 class="text-light text-center ">Автомобили</h2>

                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-warning mt-3 ml-3 font-weight-bold" asp-action="Create">Добави Автомобил...</a>
                            </div>
                            <div class="col-6">

                                <form asp-controller="Cars" asp-action="Index" method="get">
                                    <div class="row float-right mt-4 mr-5">
                                        <p>
                                            <input type="text" name="search" placeholder="Търсене... " />
                                            <input type="submit" value="Filter" class="btn btn-primary d-none" />
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-group">
                    @foreach (var item in Model.CarsList)
                    {
                        <div class="added-destinations">
                            <a asp-action="Details" asp-route-id="@item.Id" class="added-destination">
                                <img src="@item.PictureUrl"
                                     alt="" class="picture-added-destination">
                                <h3>@item.PlateNumber</h3>
                                <span>@item.Make @item.Model </span> <span>@item.Year</span>

                            </a>
                            @*<div>
                                    <button class="btn btn-info" asp-controller="Repairs" asp-action="Index" asp-route-id="@item.Id">Repairs</button>
                                    <a class="btn btn-info" asp-controller="Repairs" asp-action="Create" asp-route-id="@item.Id">RepairsCreate</a>
                                </div>*@
                        </div>
                    }
                </div>
                @{
                    var finish = Model.CarsList.FirstOrDefault();
                    var finishedRepairs = finish.FinishedRepairs;
                    var allCars = finish.AllCars;
                    var allClients = finish.AllClients;
                }
            </div> <div style="margin-top: 0%; width: content-box;" class="page-caption1">
                <a class="btn btn-dark mt-3 ml-3 font-weight-bold" id="statistics-btn">Show...</a>
                <h1 class="page-title d-none" id="show">
                    <ul class="a">
                        <li style="animation-duration: 4s; color: #FFC312; font-weight: 1000;" class="a1"><span id="all-cars">@allCars</span> Автомобили със <span id="finished-repairs">@finishedRepairs</span> завършени Ремонти и <span id="all-clients">@allClients</span> Доволни Клиенти!</li>
                    </ul>
                </h1>
            </div>
        </div>
    </div>
    @*</div>*@
}


@section Scripts{
    <script>
        $('#statistics-btn').on('click', ev => {
            $.get('/api/statistics',
                (data) => {
                    $('#all-cars').text(data.allCars);
                    $('#finished-repairs').text(data.finishedReairs);
                    $('#all-clients').text(data.allClients);

                    $('#show').removeClass('d-none');
                });
        });

    </script>
}


