@model DeleteRepairViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <dl class="row">
        <dt class="col-sm-8">
        </dt>
        <dd class="col-sm-4">

        </dd>
        <dt class="col-sm-8">
            <h2 class="text-black-50">Are you sure you want to delete this Repair?</h2>
            <hr />
        </dt>
        <dd class="col-sm-4">
        </dd>
        <dt class="col-sm-8">

            <div class="col justify-content-center">

                <dl class="row">
                    <dt class="col-sm-6">
                        <label asp-for="Name"></label>
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Name
                    </dd>
                    <dt class="col-sm-6">
                        <label asp-for="Price"></label>
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Price
                    </dd>
                    <dt class="col-sm-6">
                        <label asp-for="StartDate"></label>
                    </dt>
                    <dd class="col-sm-6">
                        @Model.StartDate
                    </dd>
                    <dt class="col-sm-6">
                        <label asp-for="EndDate"></label>
                    </dt>
                    <dd class="col-sm-6">
                        @Model.EndDate
                    <dt class="col-sm-6">
                        <label asp-for="Description"></label>
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Description
                    </dd>
                    @*<dt class="col-sm-6">
                            <label asp-for="Car.Make"></label>
                        </dt>
                        <dd class="col-sm-6">
                            @Model.Car.Make
                        </dd>*@
                    @*<dt class="col-sm-6">
                            <label asp-for="VinNumber"></label>
                        </dt>
                        <dd class="col-sm-6">
                            @Model.VinNumber
                        <dt class="col-sm-6">
                            <label asp-for="Description"></label>
                        </dt>
                        <dd class="col-sm-6">
                            @Model.Description
                        </dd>*@
                </dl>
            </div>

        </dt>
        <dd class="col-sm-4">
            @*<div class="shadow-sm " style="width: 100%; height: auto;">
                    <img src="@Model.PictureUrl" style="display: block; margin: 0 auto; width: 100%" />
                </div>*@
        </dd>
        <dt class="col-sm-8"></dt>
        <dd class="col-sm-4">
            <form asp-controller="Repairs" asp-action="Delete">
                <input type="hidden" asp-for="CarId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </dd>
    </dl>
</div>
<hr />


<div class="container">
    <div>
     <a class="float-right" asp-controller="Repairs" asp-action="Index" asp-route-id="@Model.CarId">Go to Back</a>
    </div>
</div>