@model DetailsRepairViewModel

@{
    ViewData["Title"] = "Details";
    var isAdmin = User.IsInRole(WebConstants.AdminRoleName);
}

<div class="container">
    <div>
        <h2 class="text-center">Детайли за Ремонт</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div style="margin-top: 1%; "
                     class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <h2 class="display-5">@Model.CarTitle</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="shadow-sm mx-auto" style="width:50%; height: auto;">
                    <img src="@Model.PictureUrl" style="display: block; margin: 0 auto; width: 100%" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col-sm-3">
                    <label asp-for="Name"></label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Name
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Price"></label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Price
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="StartDate"></label>
                </dt>
                <dd class="col-sm-9">
                    @Model.StartDate.ToString("D")
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="EndDate"></label>
                </dt>
                <dd class="col-sm-9">
                    @Model.EndDate.ToString("D")
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Description"></label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Description
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="RepairTypeId"></label>
                </dt>
                <dd class="col-sm-9">
                    @Model.RepairTypeId
                </dd>
            </dl>
        </div>
        <div class="col">
            <dl class="row">
                <dt class="col-sm-3">
                    <label asp-for="PartName"></label>
                </dt>
                @foreach (var item in Model.Parts)
                {
                    <dd class="col-sm-9">
                        @item.Name
                    </dd>
                    <dt class="col-sm-3">
                        @item.Name, @item.Price
                    </dt>
                }
            </dl>
        </div>
    </div>
    <div class="container" style="margin-top: 3%; margin-bottom: 2%;">
        @if (isAdmin)
        {
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <a class="float-right btn btn-warning" asp-controller="Parts" asp-action="Create" asp-route-id="@Model.Id">Add Part</a>
        }
    </div>
    <div class="container" style="margin-top: 3%; margin-bottom: 2%;">
        <a class="float-right" asp-controller="Repairs" asp-action="Index" asp-route-id="@Model.CarId">Go to Back</a>
    </div>
</div>
